<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Admin</title>
</head>
<body>
    <container>
        <h1>Admin</h1>
        <nav>
            <ul>
                <li><a href="/admin/create">Criar Página</a></li>
                <li><a href="/">Páginas Criadas</a></li>
                <li><a href="/logout">Deslogar</a></li>
                <button onclick="goBack()">Voltar</button>
            </ul>
        </nav>
        
    </container>
</body>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</html>